<div class="row">
    <div class="form-group col-md-4">
        <label for="filterText">Name includes:</label> <input id="filterText" class="form-control" type="text" placeholder="Thrall" ng-model="filterText" />
    </div>
 </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Hero</th>
            <th>Category</th>
            <th>Set</th>
        </tr>
        <tr ng-repeat="card in cards | filterCards: filterText">
            <td>{{card.name}}</td>
            <td>{{card.hero}}</td>
            <td>{{card.category}}</td>
            <td>{{card.set}}</td>
        </tr>
    </table>
</div>